    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='costo_unitario_minimo.css') }}" />
    {% extends 'base.html' %}
    {% block body %}

   
    <main>
      <div class="formu">
        <div class="header_form">Cantidad Pedido Economica</div>
        <form action="">
          <div class="fields">
            <label>
              Costo de la Pieza:
              <input type="text" />
            </label>
          </div>
          <div class="fieds">
            <label for="">
              Costo de pedido:
              <input type="text" />
            </label>
          </div>
          <div class="fields">
            <label for="">
              Costo de llevar a invetario:
              <input type="text" />
            </label>
          </div>
          <div>
            <label for="">
              Necesidades Netas Semanales: <input type="text" />
            </label>
          </div>
          <div class="fiel_btn">
            <button class="btn" type="submit">Calcular</button>
          </div>
        </form>
      </div>

      <table>
        <thead>
          <tr>
            <th>Semanas</th>
            <th>Cantidad Pedida</th>
            <th>Cantidad de matener inventario</th>
            <th>Costo de pedido</th>
            <th>Costo Unitario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
          </tr>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
          </tr>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
          </tr>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
          </tr>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
          </tr>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
          </tr>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
          </tr>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
          </tr>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
          </tr>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
          </tr>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
          </tr>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <tr>
            <th>Semanas</th>
            <th>Necesidades Netas</th>
            <th>Cantidad de Producción</th>
            <th>Inventario Inicial</th>
            <th>Costo de Mantener</th>
            <th>Costo de preparacion</th>
            <th>Costo Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>5000</td>
          </tr>
          <tr>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>30</td>
            <td>10</td>
            <td>5000</td>
            <td>5000</td>
          </tr>
        </tbody>
      </table>
    </main>
    {% endblock %}
