<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/afd8869c61.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style_login.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img
            class="logo_inner"
            src="../static/img/logo_1.jpg"
            alt="Logo Piltover"
        /></a>
      </div>

      <div class="search">
        <div class="ul_search">
          <ul>
            <li><a href="/login" class="button">Login</a></li>
          </ul>
        </div>
        <div class="mode">
          <input type="checkbox" class="checkbox" id="chk" />
          <label class="label" for="chk">
            <div class="ball">
              <img
                class="modeSN"
                src="../static/img/sun.png"
                alt=""
                style="height: 18px; width: 18px"
              />
            </div>
          </label>
        </div>
      </div>
    </header>
    <main>
      <div class="img_cover">
        <div class="container">
          <div class="forms">
            <div class="form login">
              <span class="title">Login</span>

              <form action="/login" method="post">
                <div class="input-field">
                  <input
                    type="text"
                    name="username"
                    placeholder="Enter your email"
                    required
                  />
                  <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                  <input
                    type="password"
                    class="password"
                    name="password"
                    placeholder="Enter your password"
                    required
                  />
                  <i class="uil uil-lock icon"></i>
                </div>

                <div class="checkbox-text">
                  <div class="checkbox-content">
                    <input type="checkbox" id="logCheck" />
                    <label for="logCheck" class="text">Remember me</label>
                  </div>

                  <a href="#" class="text">Forgot password?</a>
                </div>

                <div>
                  <button type="submit" class="input-field btn">
                    Login Now
                  </button>
                </div>
              </form>

              <div class="login-signup">
                <span class="text"
                  >Not a member?
                  <a href="#" class="text signup-link">Signup now</a>
                </span>
              </div>
            </div>

            <!-- Registration Form -->
            <div class="form signup">
              <span class="title">Registration</span>

              <form action="/register" method="post">
                <div class="input-field">
                  <input
                    name="nombre1"
                    type="text"
                    placeholder="Enter your name"
                    required
                  />
                  <i class="uil uil-user"></i>
                </div>
                <div class="input-field">
                  <input
                    name="username"
                    type="email"
                    placeholder="Enter your email"
                    required
                  />
                  <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                  <input
                    type="password"
                    name="password"
                    class="password"
                    placeholder="Create a password"
                    required
                  />
                  <i class="uil uil-lock icon"></i>
                </div>
                <div class="input-field">
                  <input
                    type="password"
                    name="Cpassword"
                    class="password"
                    placeholder="Confirm a password"
                    required
                  />
                  <i class="uil uil-lock icon"></i>
                </div>

                <div class="checkbox-text">
                  <div class="checkbox-content">
                    <input type="checkbox" id="sigCheck" />
                    <label for="sigCheck" class="text">Remember me</label>
                  </div>
                </div>

                <div class="">
                  <button type="submit" class="input-field btn">
                    Register Now
                  </button>
                </div>
              </form>

              <div class="login-signup">
                <span class="text">
                  <a href="#" class="text login-link">Login now</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="{{ url_for('static',filename='script.js') }}"></script>
    <script src="{{ url_for('static',filename='script_login.js') }}"></script>
  </body>
</html>
