<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='lote_por_lote.css') }}"
/>
{% extends 'base.html' %} {% block body %}

<main>
  <div class="formu" id="formulario">
    <div class="header_form">Lote por Lote</div>
    <form action="/lote_por_lote.html" method="post" id="prueba">
      <div class="field">
        <label for="">
          Digite la cantidad de semanas a evaluar:  </label>
          <input type="number" id="cantidad_semanas" name="cantidad_semanas" required/>
      </div>
      <div class='field'><label>Digite la demanda:</label><input type='number' id='demanda' name='demanda' disabled="disabled" required/></div>
      <div class="fiel_btn">
        <button class="btn" type="submit" id="calcular">Calcular</button>
      </div>
    </form>
  </div>
  
  <div class="formu">
    <div class="header_form">Lote por Lote</div>
    <form action="/lote_por_lote.html" method="get">
      <div class="fieds">
       
        <label for="">
        
        <input type="number" name="demanda['+{{i}}+'}]"  required/>
        <br>

      </div>
      
      <div class="fields">
        <label>
          Costo de la Pieza:

          <input type="text" name="costo_pieza" required/>

          <input type="text" required />

        </label>
      </div>
     
      <div class="fieds">
        <label for="">
          Costo de pedido:
          <input type="text" required />
        </label>
      </div>
      <div class="fields">
        <label for="">
          Costo de llevar a inventario:
          <input type="text" required />
        </label>
      </div>

      <div class="fiel_btn">
        <button class="btn" type="submit">Calcular</button>
      </div>
    </form>
  </div>
  <div class="table-wra">
    <table>
      <thead>
        <tr>
          <th>Semanas</th>
          <th>Necesidades Netas</th>
          <th>Cantidad de Producción</th>
          <th>Inventario Inicial</th>
          <th>Costo de llevar al inventario</th>
          <th>Costo de preparacion</th>
          <th>Costo Total</th>
        </tr>
      </thead>
      <tbody>
           <td>{{prueba}}</td>
      </tbody>
    </table>
  </div>
</main>
<script src="../static/l4l.js"></script>
{% endblock %}
