<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='costo_total_minimo.css') }}"
/>
{% extends 'base.html' %} {% block body %}
<main>
  <div class="formu">
    <div class="header_form">Modelo LTC </div>
    <form action="/ltc.html" method="POST">
      <div class="field">
        <label for="">
          Digite la cantidad de semanas a evaluar: </label>
        <input type="number" name="cantidad_semanas" required />
      </div>
      <div class="field">
        <label for="">
          Ingrese la demanda de cada semana separado por coma: </label>
        <input type="text" name="datos" required />
        <br>
      </div>
      <div class="field">
        <label>
          Costo de la Pieza:</label>
        <input type="number" name="costo_pieza" required />
      </div>
      <div class="field">
        <label for="">
          Costo de pedido: </label>
        <input name="costo_pedir" type="number" required />

      </div>
      <div class="field">
        <label for="">
          Costo de llevar a inventario(tasa)%: </label>
        <input name="tasa" type="number" name="tasa" required />

      </div>

      <div class="fiel_btn">
        <button class="btn" type="submit" id="calcular">Calcular</button>
      </div>
    </form>
  </div>

  <div class="table-wrap">
    <table>
      <thead>
        <tr>
          <th>Semanas</th>
          <th>demanda</th>
          <th>calculo del lote</th>
          <th>producto</th>
          <th>h</th>
          <th>costo de pedir (s)</th>
          <th>costo total</th>
        </tr>
      </thead>
      <tbody>
       {%if resultado is defined %}
          {% for resultados in resultado.items()-%}
          <tr>
            <td>{{resultados[1]["semana"]}}</td>
            <td>{{resultados[1]["demanda"]}}</td>
            <td>{{resultados[1]["calculo del lote"]}}</td>
            <td>{{resultados[1]["producto"]}}</td>
            <td>{{resultados[1]["h"]}}</td>
            <td>{{resultados[1]["costo_pedir"]}}</td>
            <td>{{resultados[1]["costo_total"]}}</td>
          </tr>
          {%endfor%}
        {%else%}
           {% for resultados in resultado -%}
          <tr>
            <td>{{resultados[1]["semana"]}}</td>
            <td>{{resultados[1]["demanda"]}}</td>
            <td>{{resultados[1]["calculo del lote"]}}</td>
            <td>{{resultados[1]["producto"]}}</td>
            <td>{{resultados[1]["h"]}}</td>
            <td>{{resultados[1]["costo_pedir"]}}</td>
            <td>{{resultados[1]["costo_total"]}}</td>
          </tr>
          {%endfor%}
          {% endif %}
        
      </tbody>
    </table>
  </div>
 
</main>
{% endblock %}
