<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='modeloQ.css') }}" />
{% extends 'base.html'%}

{% block body %}
    <main>
      <div class="navigator">
      <div class="formu">
        <div class="header_form">Cantidad Fija de Pedido</div>
        <form action="">
          <div class="field first">
            <div>
              <label
                >Demanda:
                <input type="text" />
              </label>
            </div>
            <div>
              <label>
                Tipo de Demanda:
                <select name="" id="">
                  <option value="anual">Anual</option>
                  <option value="mensual">Mensual</option>
                  <option value="semanal">Semanal</option>
                  <option value="diaria">Diaria</option>
                </select>
              </label>
            </div>
          </div>
          <div class="field">
            <label
              >Costo de Pedir:
              <input type="text" />
            </label>
          </div>
          <div class="field">
            <label
              >Costo del Pedido:
              <input type="text" id="checkeadoCostodePedir" disabled="disabled"/>
             <input type="checkbox" name="" id="checkCostodePedir">
          </div>
          <div class="field">
            <label>
              Tasa de mantenimiento (%)
              <input type="text" name="" id="checkeadoTasa" disabled="disabled"/>
              <input type="checkbox" name="" id="checkTasa">
          </div>
          <div class="field">
            <label
              >Costo de Mantenimiento:
              <input type="text" name="" id="" />
            </label>
          </div>
          <div class="field">
            <label for=""
              >Tiempo de espera:
              <input type="text" />
            </label>
          </div>
          <div class="fiel_btn">
            <button class="btn" type="submit">Calcular</button>
          </div>
        </form>
      </div>
     <div class="table-wrap">
        <table>
          <thead>
            <tr>
              <th>Unidades Optimas</th>
              <th>Punto de Reorden</th>
              <th>Costo Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>30</td>
              <td>10</td>
              <td>5000</td>
            </tr>
         
          </tbody>
        </table>
       </div>
       <div class="dialog">
         <div>
           Dialogo
         </div>
       </div>
      </div>
    </main>
     
      
    {% endblock %}