<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="modeloQ.css" />
    <title>Document</title>
  </head>
  <body>
  <header>
      <div class="logo">
        <img
          class="logo_inner"
          src="/Fornt-end/img/logo_1.jpg"
          alt="Logo Piltover"
        />
      </div>
      <div>
        <ul>
          <li><a href="/Fornt-end/index.html">Home</a></li>
        </ul>
      </div>

      <div class="search">
        <div class="ul_search">
          <ul>
            <li><a href="/Fornt-end/login.html" class="button">Login</a></li>
            <li><a href="" class="button">Sing Up</a></li>
          </ul>
        </div>
        <div class="mode">
          <input type="checkbox" class="checkbox" id="chk" />
          <label class="label" for="chk">
            <div class="ball">
              <img
                class="modeSN"
                src="/Fornt-end/img/sun.png"
                alt=""
                style="height: 18px; width: 18px"
              />
            </div>
          </label>
        </div>
      </div>
    </header>
    <main>
      <div class="navigator">
      <div class="formu">
        <div class="header_form">Cantidad Fija de Pedido</div>
        <form action="">
          <div class="field first">
            <div>
              <label
                >Demanda:
                <input type="text" />
              </label>
            </div>
            <div>
              <label>
                Tipo de Demanda:
                <select name="" id="">
                  <option value="anual">Anual</option>
                  <option value="mensual">Mensual</option>
                  <option value="semanal">Semanal</option>
                  <option value="diaria">Diaria</option>
                </select>
              </label>
            </div>
          </div>
          <div class="field">
            <label
              >Costo de Pedir:
              <input type="text" />
            </label>
          </div>
          <div class="field">
            <label
              >Costo del Pedido:
              <input type="text" id="checkeadoCostodePedir" disabled="disabled"/>
             <input type="checkbox" name="" id="checkCostodePedir">
          </div>
          <div class="field">
            <label>
              Tasa de mantenimiento (%)
              <input type="text" name="" id="checkeadoTasa" disabled="disabled"/>
              <input type="checkbox" name="" id="checkTasa">
          </div>
          <div class="field">
            <label
              >Costo de Mantenimiento:
              <input type="text" name="" id="" />
            </label>
          </div>
          <div class="field">
            <label for=""
              >Tiempo de espera:
              <input type="text" />
            </label>
          </div>
          <div class="fiel_btn">
            <button class="btn" type="submit">Calcular</button>
          </div>
        </form>
      </div>
     <div class="table-wrap">
        <table>
          <thead>
            <tr>
              <th>Unidades Optimas</th>
              <th>Punto de Reorden</th>
              <th>Costo Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>30</td>
              <td>10</td>
              <td>5000</td>
            </tr>
         
          </tbody>
        </table>
       </div>
       <div class="dialog">
         <div>
           Dialogo
         </div>
       </div>
      </div>
    </main>
     
      
   
     <footer>
      <div class="card_info" style="border-right: 1px solid var(--color-black)">
        <img src="/Fornt-end/img/oliver_img.jpeg" alt="" class="image_info" />
        <span>Oliver Luna</span>
        <p>
          Diseñador Fornt-end <br />
          HTML | CSS | JavaScript
        </p>
      </div>
      <div class="card_info" style="border-right: 1px solid var(--color-black)">
        <img src="/Fornt-end/img/william_img.jpeg" alt="" class="image_info" />
        <span>William Guzman</span>
        <p>
          Programador Back-end <br />
          Python
        </p>
      </div>
      <div class="card_info" style="border-right: 1px solid var(--color-black)">
        <img src="/Fornt-end/img/moises_img.jpeg" alt="" class="image_info" />
        <span>Moises Reyes</span>
        <p>Programador Back-end <br />Python</p>
      </div>
      <div class="card_info" style="border-right: 1px solid var(--color-black)">
        <img src="" alt="" class="image_info" />
      </div>
      <div class="card_info">
        <img src="" alt="" class="image_info" />
      </div>
    </footer>
     
    <script src="/Fornt-end/script.js"></script>
  </body>
</html>
