<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='modeloSS.css') }}" />
{% extends 'base.html' %}
{% block body %}
    <main>
      <div class="main_nav">
              <div class="formu">
        <div class="header_form">Cantidad Fija de Pedido</div>
        <form action="">
          <div class="field first">
            <div>
              <label
                >Demanda:
                <input type="text" />
              </label>
            </div>
            <div>
              <label>
                Tipo de Demanda:
                <select name="" id="">
                  <option value="anual">Anual</option>
                  <option value="mensual">Mensual</option>
                  <option value="semanal">Semanal</option>
                  <option value="diaria">Diaria</option>
                </select>
              </label>
            </div>
          </div>
          <div class="field">
            <label
              >Costo de Pedir:
              <input type="text" />
            </label>
          </div>
          <div class="field">
            <label
              >Costo del Pedido:
              <input type="text"  disabled="disabled" id="checkeadoCostodePedir" />
             <input type="checkbox" name=""   class="chekeado" id="checkCostodePedir"/>
          </div>
          <div class="field">
            <label>
              Tasa de mantenimiento (%)
              <input type="text" name=""  disabled="disabled" id="checkeadoTasa"/>
              <input type="checkbox" name=""  class="chekeado" id="checkTasa" />
          </div>
          <div class="field">
            <label
              >Costo de Mantenimiento:
              <input type="text" name="" id="" />
            </label>
          </div>
          <div class="field">
            <label for=""
              >Tiempo de espera:
              <input type="text" />
            </label>
          </div>
           <div class="field">
            <label
              >Desviación estandar:
              <input type="text" />
            </label>
           </div>
           <div class="field">
            <label>
              Desviacion Estandar durante el plazo(%):
              <input type="text" name="" id="CDesvEstandar" disabled="disabled"  />
              <input type="checkbox" name=""  class="chekeado" id="DesvEstandar">
          </div>
           <div class="field">
            <label
              >Nivel de Confianza:
              <input type="text" />
            </label>
           </div>
           
          <div class="fiel_btn">
            <button class="btn" type="submit">Calcular</button>
          </div>
        </form>
      </div>
       <div class="table-wrap">
        <table>
          <thead>
            <tr>
              <th>Unidades Optimas</th>
              <th>Punto de Reorden</th>
              <th>Costo Total</th>
            </tr>
          </thead>
          <tbody>
           
         
          </tbody>
        </table>
       </div>
       <div class="dialog">
         <div>
           Dialogo
         </div>
       </div>
      </div>
      </div>
    </main>
    <script src="/static/script.js"></script>
  </body>
</html>

{% endblock %}