<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='modeloQ.css') }}" />
{% extends 'base.html'%}

{% block body %}
    <main>
      <div class="navigator">
      <div class="formu">
        <div class="header_form">Cantidad Fija de Pedido</div>
        <form action="/modeloQ.html" method="post">
          <div class="field first">
            <div>
              <label
                >Demanda:
                <input name="demanda" type="text" />
              </label>
            </div>
            <div>
              <label>
                Tipo de Demanda:
                <select name="Tdemanda" id="">
                  <option value="360">Anual</option>
                  <option value="30">Mensual</option>
                  <option value="6">Semanal</option>
                  <option value="1">Diaria</option>
                </select>
              </label>
            </div>
          </div>
          <div class="field">
            <label
              >Costo de Pedir:
              <input name="costo_pedir" type="text" />
            </label>
          </div>
          <div class="field">
            <label>
              Tasa de mantenimiento (%)
              <input type="text" name="costo_almacen" id="checkeadoTasa" />
              <input type="checkbox" name="" id="checkTasa"  >
          </div>
          <div class="field">
            <label
              >Costo del Producto:
              <input type="text" name="costo_compra" id="" />
            </label>
          </div>
          <div class="field">
            <label
              >Plazo de entrega(dias):
              <input type="text" name="plazo" id="" />
            </label>
          </div>
          
          <div class="fiel_btn">
            <button class="btn" type="submit">Calcular</button>
          </div>
        </form>
      </div>
     <div class="table-wrap">
        <table>
          <thead>
            <tr>
              <th>Unidades Optimas</th>
              <th>N° Pedidos</th>
              <th>Tiempo entre 2 Pedidos(dias)</th>
              <th>Punto de Reorden</th>
              <th>Costo Total</th>
            </tr>
          </thead>
          <tbody>
           <td>{{und_optima}}</td>
           <td>{{np}}</td>
           <td>{{tp}} </td>
           <td>{{calculo}}</td>
           <td>{{ct}}</td>
         
          </tbody>
        </table>
       </div>
       <div class="dialog">
         <div>
           Dialogo
         </div>
       </div>
      </div>
    </main>
     
      
    {% endblock %}
